/* Animation duration change */
.one, .two, .three, .about-me {
  opacity:0;
}
.about-me {
  animation: fadeTransitionIn 2.15s .4s forwards;
}
.one {
  animation: fadeTransitionIn 2.15s .75s forwards;
}
.two {
  animation: fadeTransitionIn 2.15s 1.05s forwards;
}
.three {
  animation: fadeTransitionIn 2.15s 1.4s forwards;
}
.four {
  animation-delay: 1.65s;
  /* animation: fadeTransitionIn 2.15s 2.25s forwards; */
}
/* About me section (left side) */
.about-me {
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 6%;
  z-index: 500;
}
.about-me, .about-me-info {
  flex:1;
}
.about-me-img {
  height: 200px;
  width: 200px;
  background-image: url("../img/my-photo.JPG");
  background-size: cover;
  border-radius: 100%;
  box-shadow: 10px 10px 25px black;
}
.about-myself {
  font-weight: 800;
  font-family: 'Pacifico';
  font-size: 2rem;
  font-weight:200;
  padding: 20px 20px 10px 20px;
  color: #f5f6fa;
  text-align: center;
}
.about-myself-text {
  max-width: 60%;
  letter-spacing: 1.25px;
  font-weight: 200;
  text-align: center;
  font-size: 1rem;
}
/* About me info section (right side) */
.about-me-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding:50px;
}
.info-box {
  display:flex;
  flex-direction: column;
}
.info-title {
  font-weight: 200;
  letter-spacing: -.25px;
  font-size: 1.75rem;
  text-align: center;
  padding: 25px;
  color: #7efff5;
  font-family: 'Roboto';
  text-transform: uppercase;
}
.info-box-content {
  display:flex;
  justify-content: center;
  align-items: center;
}
.info-box-content i {
  padding: 25px;
  color: #f53b57;
}
.info-box-content p {
  max-width: 50%;
  text-align: center;
  padding: 20px;
  letter-spacing: 1.25px;
}
.code {
  letter-spacing: 2px;
  padding:20px 50px;
}
.code .purple {
  color: #be2edd;
}
.code .green {
  color: #44bd32;
}
.indent {
  margin-left: 25px;
}
.indent2 {
  margin-left: 45px;
}
button {
  margin-top:0;
}
.four {
  width: 250px;
}
.four i {
  color: #1e272e;
  font-size: .875rem;
}
.four:hover i {
  color: #f53b57;
}
/* MOBILE STYLING */
@media (max-width: 1250px) {
  .about-me-img {
    height: 160px;
    width: 160px;
  }
  .about-myself {
    font-size: 1.75rem;
    padding: 20px 20px 10px 20px;
  }
  .about-myself-text {
    max-width: 60%;
    font-size: .9rem;
  }
  .info-title {
    font-size: 1.5rem;
    padding: 10px;
  }
  .info-box-content i {
    padding: 15px;
    color: #f53b57;
  }
  .info-box-content p {
    max-width: 65%;
    font-size: .9rem;
  }
  .code {
    font-size: .9rem;
    letter-spacing: 2px;
    padding:20px 40px;
  }
}
@media (max-width: 1100px) {
  .main-page {
    display:flex;
    flex-direction: column;
  }
  .about-me {
    margin-top: 10vh;
  }
  .about-me-info {
    margin-left: 10%;
  }
  .info-box-content {
    flex-direction: column;
  }
  .info-box-content p, .code {
    padding-bottom: 40px;
  }
}
@media (max-width: 750px) {
  .about-me {
    animation: fadeTransitionIn 2.15s .4s forwards;
  }
  .one {
    animation-delay: 1.55s;
  }
  /* .two, .three {
    animation: none;
    opacity: 1;
  } */
  .four {
    animation-delay: 1s;
  }
  .about-me-info, .about-me {
    margin-left: 0;
  }
}
@media (max-width: 415px) {
  .about-me {
    margin-top: 4.5vh;
    z-index:400;
  }
  .about-me-info {
    padding-bottom: 4.5vh;
  }
  .about-me-img {
    height: 132.5px;
    width: 132.5px;
  }
  .about-myself {
    font-size: 1.5rem;
    padding: 20px 20px 10px 20px;
  }
  .about-myself-text {
    max-width: 75%;
    font-size: .725rem;
  }
  .info-title {
    font-size: 1.30rem;
    width: 90%;
    padding: 10px;
  }
  .info-box-content i {
    padding: 15px;
    color: #f53b57;
  }
  .info-box-content p {
    max-width: 100%;
    font-size: .725rem;
  }
  .code {
    font-size: .725rem;
    letter-spacing: 2px;
    padding:20px 40px;
  }
  .four {
    width: 185px;
  }
}