/* Page animation delay styling */
.one, .two, .three, .four {
  opacity:0;
}
.one {
  animation: fadeTransitionIn 1.75s .95s forwards;
}
.two {
  animation: fadeTransitionIn 1.75s 1.35s forwards;
}
.three {
  animation: fadeTransitionIn 1.75s 1.65s forwards;
}
.four {
  animation: fadeTransitionIn 1.75s 2.1s forwards;
}
/* Work Styling */
.work-page {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  padding: 75px;
}
.some {
  font-family: 'Pacifico';
  letter-spacing: 1.5px;
  font-size: 3.5rem;
  color: #7efff5;
  padding: 15px;
  font-weight: 400;
}
.some-p {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2.5px;
}
.work-content {
  display:flex;
}
.work-page img {
  height: 200px;
  width: 400px;
  margin: 50px;
  box-shadow: 25px 25px 30px black;
}
.work-page img:hover {
  cursor: pointer;
}
.work-intro {
  margin-bottom: 35px;
  text-align: center;
}
.aactiv-content, .goodside-content {
  margin: 15px;
}
.thumbail {
  display:flex;
  flex-direction: column;
  position: relative;
}
.thumbnail-text {
  font-weight: 200;
  text-align: center;
  letter-spacing: 2px;
  font-variant: small-caps;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.thumbnail:hover img {
  transition: .4s ease;
  opacity: 1;
  transform: scale(1.025);
}
.thumbnail:hover .thumbnail-text {
  transition: .4s all ease;
  color: #f53b57;
}
/* MOBILE STYLING */
@media (max-width: 1175px) {
  .some {
    font-size: 3rem;
  }
  .some-p {
    font-size: 1rem;
  }
  .work-page img {
    height: 150px;
    width: 325px;
  }
}
@media (max-width: 1000px) {
  .some {
    font-size: 2.8rem;
  }
  .some-p {
    font-size: .9rem;
  }
  .work-page img {
    height: 125px;
    width: 275px;
  }
  .thumbnail-text {
    font-size: .9rem;
  }
}
@media (max-width: 875px) {
  .work-content {
    flex-direction: column;
  }
}
@media (max-width: 520px) {
  .work-page {
    padding-left:0;
    padding-right:0;
  }
}
@media (max-width: 600px) {
  .some {
    font-size: 2.25rem;
  }
  .some-p {
    font-size: .75rem;
  }
  .work-page img {
    height: 115px;
    width: 250px;
  }
  .thumbnail-text {
    font-size: .75rem;
  }
}
@media (max-width: 420px) {
  .some {
    font-size: 2rem;
  }
  .some-p {
    font-size: .6rem;
  }
  .work-page img {
    height: 110px;
    width: 225px;
  }
  .thumbnail-text {
    font-size: .7rem;
  }
  .work-intro {
    margin-bottom:0;
  }
}