.navbar {
  position: fixed;
  top:0;
  left:0;
  height:100vh;
  height:calc(var(--vh, 1vh) * 100);  width: 10vh;
  background-color: #2f3640;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index:1000;
}
.hamburger {
  visibility: hidden;
  position:fixed;
  top: 5%;
  left: 4%;
}
.fab, .fas, .fa, .hamburger, .times {
  color: #7efff5;
  font-size: 40px;
  transition: .3s all ease;
}
.fa-user-cog, .fa-home, .fa-code {
  font-size: 35px;
}
.fab:hover, .fas:hover, .fa:hover, .hamburger:hover, .times:hover {
  cursor: pointer;
  color: #f53b57;
}
@media (max-width: 1100px) {
  .navbar {
    width: 7vh;
  }
  .fab, .fas, .fa {
    font-size: 32.5px;
  }
  .fa-user-cog, .fa-home, .fa-code {
    font-size: 27.5px;
  }
}
@media (max-width: 750px) {
  .navbar {
    visibility: hidden;
  }
  .hamburger {
    visibility: visible;
  }
}
@media (max-width: 400px) {
  .hamburger, .times {
    font-size: 30px;
  }
}
/* MOBILE NAVBAR STYLING */
.times {
    display:none;
    position: fixed;
    top:2%;
    right: 5%;
    z-index: 5100;
    font-size: 30px;
}
.nav-list {
  list-style: none;
  position:fixed;
  top:0;
  left:0;
  width:17.5%;
  height:100vh;
  height:calc(var(--vh, 1vh) * 100);  background-color: #2d3436;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 5000;
  transform: translateX(-100%);
  transition: transform .5s;
}
.nav::before {
  content: '';
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.8);
  z-index: 1000;
  opacity: 0;
  transform: scale(0);
  transition: opacity .5s;
}
.open .times {
  display: block;
}
.open .menu {
  display: none;
}
.open .nav-list {
  transform: translateX(0);
}
.open .nav::before{
  opacity: 1;
  transform: scale(1);
}