/* Global FadeIn Animation */
@keyframes fadeTransitionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Other Global Styles */
* {
  margin:0;
  padding:0;
  color: #f5f6fa;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  background-color: #1e272e;
}
/* SCROLLBAR STYLE */
    /* Scrollbar width */
    ::-webkit-scrollbar {
      width: 11.5px;
    }
    /* Scrollbar Track */
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px #d2dae2;
      border-radius: 10px;
    }
    /* Scrollbar handle */
    ::-webkit-scrollbar-thumb {
      background: #7efff5;
      border-radius: 10px;
    }
    /* Hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #34e7e4;
    }
/* Animation duration change */
.animate__animated.animate__fadeInDown, .animate__animated.animate__fadeInUp {
  animation-duration: 2.35s;
}
.animate__animated.animate__fadeIn.one {
  animation-delay: .55s;
}
.animate__animated.animate__fadeIn.two {
  animation-delay: .85s;
}
.animate__animated.animate__fadeIn.three {
  animation-delay: 1.15s;
}
.animate__animated.animate__fadeIn.four {
  animation-delay: 1.45s;
}
.animate__animated.animate__fadeInUp {
  animation-delay: 1.85s;
}
/* GLOBAL RED/BOLD STYLING */
.red {
  color: #f53b57;
}
.bold {
  font-weight: 800;
  letter-spacing:0;
}
/* MAIN PAGE STYLING */
.main-page {
  min-height:100vh;
  min-height:calc(var(--vh, 1vh) * 100);
  max-width:100vw;
  background-color: #1e272e;
  display:flex;
  overflow: hidden;
  transition: .6s filter ease;
}
.landing-box, .image {
  flex:1;
}
.landing-box {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 8%;
}
.hello {
  font-family: Helvetica;
  font-size: 70px;
  letter-spacing: -2px;
  animation: slideOut 2.5s;
}
.langs {
  font-family: Helvetica;
  font-size: 15px;
  color: #808e9b;
  opacity: .9;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 200;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image img {
  height: 325px;
  width: 500px;
  transform: rotate(25deg);
  animation: transitionIn 2.5s;
}
.typing {
  position: relative;
  padding-right: 20px;
}
.typing::after {
  position: absolute;
  padding-left: 7.5px;
  content:"";
  width: 1px;
  height: 45px;
  border-right: 2px solid #f5f6fa;
  opacity: .75;
  margin-top: 22px;
  animation: blink 0.75s infinite ease;
}
/* Typing Animation */
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* FadeIn Animation */
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-20deg);
  }
  to {
    opacity: 1;
    transform: rotate(25deg);
  }
}
/* BLUR SUCCESS TOGGLE */
.blur {
  filter: blur(15px);
  transition: .4s all ease;
}
/* PageRoute success message */
.success-message {
  position:fixed;
  height:100vh;
  height:calc(var(--vh, 1vh) * 100);  
  width: 100vw;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3000;
  visibility: hidden;
}
.success-message h1 {
  font-weight: 800;
  letter-spacing: 1.5px;
  text-align: center;
  font-size: 2.2rem;
}
.success-message .red {
  font-size: 3rem;
  letter-spacing: -1px;
  font-family: 'Pacifico';
}
.success-message .thin {
  font-weight: 100;
  font-size: 1.5rem;
  opacity: 1;
  text-transform: uppercase;
}
.shown {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}
/* TOOLTIP */
.tooltip-box {
  display: flex;
  animation-delay: 1s;
}
.tooltip-box i {
  font-size: 1.5rem;
  margin-top: 4.25vh;
  padding-left: 100%;
  opacity: .65;
}
/* START TOOLTIP STYLES */
[tooltip] {
  position: relative; /* opinion 1 */
}
/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: .9em; /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: '';
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
  content: attr(tooltip); /* magic! */
  /* most of the rest of this is opinion */
  text-align: center;
  letter-spacing: .9px;
  /* 
    Let the content set the size of the tooltips 
    but this will also keep them from being obnoxious
    */
  min-width: 3em;
  width: 21em;
  white-space: pre-line;
  /* overflow: hidden;
  text-overflow: ellipsis; */
  padding: 2.5ch 3ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #2f3640;
  color: #fff;
  z-index: 1000; /* absurdity 2 */
  margin-left: 2vw;
  margin-top: 1.5vh;
}
/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}
/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}
/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333;
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -.5em);
}
/* FLOW: RIGHT */
[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 5px);
  transform: translate(.5em, -50%);
}
[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
}
/* KEYFRAMES */
@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}
/* FX All The Things */ 
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}
@media (min-width: 2000px) {
  .hello {
    font-size: 90px;
  }
  .landing-box {
    margin-left: 8%;
  }
  [tooltip]::before,
  [tooltip]::after {
  font-size: 1.13em; /* opinion 3 */
  }
  .image img {
    height: 400px;
    width: 625px;
  }
}
/* MOBILE STYLING */
@media (max-width: 1400px) {
  .image {
    flex: .75;
  }
  .image img {
    height: 225px;
    width: 350px;
  }
}
@media (max-width: 1225px) {
  .hello {
    font-size: 55px;
  }
  .image img {
    height: 195px;
    width: 315px;
  }
  [tooltip]::before,
  [tooltip]::after {
  font-size: .78em; /* opinion 3 */
  }
  .tooltip-box i {
    font-size: 1.25rem;
  }
}
@media (max-width: 960px) {
  .hello {
    font-size: 47.5px;
  }
  .image img {
    height: 175px;
    width: 285px;
  }
  .langs {
    font-size: 12.5px;
  }
  .typing::after {
    height: 35px;
    margin-top: 12px;
  }
  .success-message .red {
    font-size: 2.5rem;
  }
}
@media (max-width: 860px) {
  .hello {
    z-index: 200;
    font-size: 55px;
  }
  .image {
    flex:0;
    z-index:50;
  }
  .image img {
    position:fixed;
    z-index: 100;
    opacity: .24;
    top:25%;
    right: 3%;
    animation: none;
    height: 250px;
    width: 400px;
  }
}
@media (max-width: 751px) {
  .landing-box {
    margin-left: 4.5%;
  }
  .langs {
    width: 75%;
  }
  [tooltip]::before,
  [tooltip]::after {
  font-size: .75em; /* opinion 3 */
  }
  .tooltip-box i {
    font-size: 1.15rem;
  }
}
@media (max-width: 535px) {
  .image img {
    opacity: .075;
  }
  .hello {
    font-size: 45px;
  }
  .langs {
    font-size: 10px;
  }
  .success-message .red {
    font-size: 1.85rem;
    letter-spacing: -1.5px;
  }
  .main .red {
    font-size: 2.65rem;
  }
  [tooltip]::before,
  [tooltip]::after {
  font-size: .635em; /* opinion 3 */
  }
  .tooltip-box i {
    font-size: 1rem;
  }
}
@media (max-width: 420px) {
  .hello {
    font-size: 40px;
  }
  .langs {
    width: 90%;
  }
  [tooltip]::before,
  [tooltip]::after {
  font-size: .65em; /* opinion 3 */
  }
  .tooltip-box i {
    font-size: 1.15rem;
    padding-left: 15px;
  }
  [tooltip]::after {
    width: 10em;
    padding: 1.5ch 2ch;
    margin-left: 8vw;
  }
  .image img {
    height: 200px;
    width: 315px;
    top: 32.5%;
    right: -3%;
    opacity: .0745;
    transform: rotate(25deg);
  }
}
@media (max-width: 361px) {
  .hello {
    font-size: 35px;
  }
  .langs {
    font-size: 8.25px;
  }
  .typing::after {
    height: 27.5px;
    margin-top: 10px;
  }
}