/* Global FadeIn Animation */
@keyframes fadeTransitionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Other Global Styles */
* {
  margin:0;
  padding:0;
  color: #f5f6fa;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  background-color: #1e272e;
}
/* SCROLLBAR STYLE */
    /* Scrollbar width */
    ::-webkit-scrollbar {
      width: 11.5px;
    }
    /* Scrollbar Track */
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px #d2dae2;
      border-radius: 10px;
    }
    /* Scrollbar handle */
    ::-webkit-scrollbar-thumb {
      background: #7efff5;
      border-radius: 10px;
    }
    /* Hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #34e7e4;
    }
/* Animation duration change */
.animate__animated.animate__fadeInDown, .animate__animated.animate__fadeInUp {
  animation-duration: 2.35s;
}
.animate__animated.animate__fadeIn.one {
  animation-delay: .55s;
}
.animate__animated.animate__fadeIn.two {
  animation-delay: .85s;
}
.animate__animated.animate__fadeIn.three {
  animation-delay: 1.15s;
}
.animate__animated.animate__fadeIn.four {
  animation-delay: 1.45s;
}
.animate__animated.animate__fadeInUp {
  animation-delay: 1.85s;
}
/* GLOBAL RED/BOLD STYLING */
.red {
  color: #f53b57;
}
.bold {
  font-weight: 800;
  letter-spacing:0;
}
/* MAIN PAGE STYLING */
.main-page {
  min-height: 100vh;
  max-width:100vw;
  background-color: #1e272e;
  display:flex;
  overflow: hidden;
  transition: .6s filter ease;
}
.landing-box, .image {
  flex:1;
}
.landing-box {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height:100vh;
  margin-left: 10%;
}
.hello {
  font-family: Helvetica;
  font-size: 70px;
  letter-spacing: -2px;
  animation: slideOut 2.5s;
}
.langs {
  font-family: Helvetica;
  font-size: 15px;
  color: #808e9b;
  opacity: .9;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 200;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image img {
  height: 325px;
  width: 500px;
  transform: rotate(25deg);
  animation: transitionIn 2.5s;
}
.typing {
  position: relative;
  padding-right: 20px;
}
.typing::after {
  position: absolute;
  padding-left: 7.5px;
  content:"";
  width: 1px;
  height: 45px;
  border-right: 2px solid #f5f6fa;
  opacity: .75;
  margin-top: 22px;
  animation: blink 0.75s infinite ease;
}
/* Typing Animation */
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* FadeIn Animation */
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-20deg);
  }
  to {
    opacity: 1;
    transform: rotate(25deg);
  }
}
/* BLUR SUCCESS TOGGLE */
.blur {
  filter: blur(15px);
  transition: .4s all ease;
}
/* PageRoute success message */
.success-message {
  position:fixed;
  height: 100vh;
  width: 100vw;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3000;
  visibility: hidden;
}
.success-message h1 {
  font-weight: 800;
  letter-spacing: 1.5px;
  text-align: center;
  font-size: 2.2rem;
}
.success-message .red {
  font-size: 3rem;
  letter-spacing: 3px;
  font-family: 'Pacifico';
}
.success-message .thin {
  font-weight: 100;
  font-size: 1.5rem;
  opacity: 1;
  text-transform: uppercase;
}
.shown {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}
/* MOBILE STYLING */
@media (max-width: 1400px) {
  .image {
    flex: .75;
  }
  .image img {
    height: 225px;
    width: 350px;
  }
}
@media (max-width: 1225px) {
  .hello {
    font-size: 55px;
  }
  .image img {
    height: 195px;
    width: 315px;
  }
}
@media (max-width: 960px) {
  .hello {
    font-size: 47.5px;
  }
  .image img {
    height: 175px;
    width: 285px;
  }
  .langs {
    font-size: 12.5px;
  }
  .typing::after {
    height: 35px;
    margin-top: 12px;
  }
  .success-message .red {
    font-size: 2.5rem;
  }
}
@media (max-width: 860px) {
  .hello {
    z-index: 1000;
    font-size: 55px;
  }
  .image {
    flex:0;
    z-index:50;
  }
  .image img {
    position:fixed;
    z-index: 100;
    opacity: .24;
    top:25%;
    right: 3%;
    animation: none;
    height: 250px;
    width: 400px;
  }
}
@media (max-width: 751px) {
  .landing-box {
    margin-left: 4.5%;
  }
  .langs {
    width: 75%;
  }
}
@media (max-width: 535px) {
  .image img {
    opacity: .075;
  }
  .hello {
    font-size: 45px;
  }
  .langs {
    font-size: 10px;
  }
  .success-message .red {
    font-size: 1.85rem;
  }
}
@media (max-width: 420px) {
  .hello {
    font-size: 40px;
  }
  .langs {
    width: 90%;
  }
  .success-message .red {
    font-size: 1.5rem;
  }
}
@media (max-width: 380px) {
  .image img {
    display:none;
  }
}