/* Page animation delay styling */
.react, .python, .html, .css, .flutter, .dart, .sql {
  opacity:0;
}
.react {
  animation: fadeTransitionIn 1s 1.3s forwards;
}
.python {
  animation: fadeTransitionIn 1s 1.45s forwards;
}
.html {
  animation: fadeTransitionIn 1s 1.6s forwards;
}
.css {
  animation: fadeTransitionIn 1s 1.75s forwards;
}
.flutter {
  animation: fadeTransitionIn 1s 1.9s forwards;
}
.dart {
  animation: fadeTransitionIn 1s 2.05s forwards;
}
.sql {
  animation: fadeTransitionIn 1s 2.2s forwards;
}
/* Stack Page Styling */
.stack-content {
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.current {
  font-family: 'Pacifico';
  letter-spacing: .5px;
  font-weight: 200;
  font-size: 3rem;
  animation-delay: .75s;
}
.back {
  position: fixed;
  top: 5%;
  left: 4%;
  visibility: hidden;
}
/* PROGRESS BAR STYLING */
ul {
  width: 600px;
}
li {
  position: relative;
  list-style: none;
  margin: 9% 0;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
li::before {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  height: 15px;
  background-color: #7efff5;
  border-radius: 1000px;
  opacity: .65;
}
li::after {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 0;
  height: 15px;
  background-color: #f53b57;
  border-radius: 1000px;
  opacity: 1;
  animation-duration: 1.3s;
  animation-delay: 2.65s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
li.react::after {
  animation-name: react;
}
@keyframes react {
  to {
    width: 90%;
  }
}
li.python::after {
  animation-name: python;
}
@keyframes python {
  to {
    width: 85%;
  }
}
li.html::after {
  animation-name: html;
}
@keyframes html {
  to {
    width: 80%;
  }
}
li.css::after {
  animation-name: css;
}
@keyframes css {
  to {
    width: 80%;
  }
}
li.flutter::after {
  animation-name: flutter;
}
@keyframes flutter {
  to {
    width: 65%;
  }
}
li.dart::after {
  animation-name: dart;
}
@keyframes dart {
  to {
    width: 65%;
  }
}
li.sql::after {
  animation-name: sql;
}
@keyframes sql {
  to {
    width: 50%;
  }
}
/* MOBILE STYLING */
@media (max-width: 1300px) {
  .current {
    font-size: 2.5rem;
  }
  /* PROGRESS BAR STYLING */
  ul {
    width: 550px;
  }
}
@media (max-width: 1000px) {
  .current {
    font-size: 2.1rem;
  }
  ul {
    width: 450px;
  }
  li {
    font-size: .9rem;
  }
}
@media (max-width: 750px) {
  .back {
    visibility: visible;
  }
  .current {
    font-size: 1.8rem;
  }
  ul {
    width:400px;
  }
}
@media (max-width: 550px) {
  .back {
    visibility: visible;
    font-size: .2rem;
  }
  ul {
    width: 350px;
  }
  li::before {
    height: 12px;
  }
  li::after {
    height: 12px;
  }
  li {
    font-size: .75rem;
    padding-top: 15px;
  }
}
@media (max-width: 475px) {
  .current {
    font-size: 1.5rem;
  }
  ul {
    width: 275px;
  }
  li {
    font-size: .6rem;
  }
}