* {
  margin:0;
  padding:0;
  text-decoration: none;
  font-family: 'Roboto';
}
html {
  background-color: #f1f2f6;
}
/* HEADER STYLING */
.Homepage .header {
  height:8vh;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Open Sans';
  color:#636e72;
}
.Homepage .header .good-side {
  padding-right:10px;
  font-weight:400;
  color: #222f3e;
}
.Homepage .header .links {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight:500;
  color:inherit;
  border: 1px solid black;
  padding: 5px 20px;
  transition: all 0.6s;
  border-radius:10px;
}
.Homepage .header .links:hover {
  background-color: #ee5253;
  color: white;
  border:none;
}
.Homepage .header h2 {
  letter-spacing: 2.6px;
  font-size:1.7rem;
}
/* ANIMATIONS */
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-15deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
.left-content h1, .right-content h1, .left-content a, .right-content a {
  opacity: 0;
}
.left-content h1, .right-content h1 {
  animation: transitionIn 3.5s 0.5s forwards;
}
.left-content a, .right-content a {
  animation: transitionIn 3.5s 1.25s forwards;
}
/* BODY STYLING */
.Homepage .container {
  height:85vh;
  display:flex;
  text-align: center;
}
.Homepage .container .left-container, .right-container {
  display:flex;
  flex:1;
  flex-direction: column;
  justify-content: center;
}
.Homepage .container .left-container {
  background: linear-gradient(rgba(0, 0, 1, 0.61), rgba(254, 255, 252, 0.116)), url('../GoodSIde/GoodSideImg/left-img.jpg');
  background-size: cover;
  background-position:center;
  padding:1rem;
}
.Homepage .container .right-container {
  background: linear-gradient(rgba(0, 0, 1, 0.61), rgba(254, 255, 252, 0.116)), url('../GoodSIde/GoodSideImg/right-img.jpg');
  background-size: cover;
  background-position:center;
  padding:1rem;
}

/* INFORMATION SECTION */
.Homepage .info-container {
  display:flex;
}
.Homepage .info-container .left-info, 
.Homepage .info-container .middle-info, 
.Homepage .info-container .right-info {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 15px 35px 15px;
  margin: 15px;
  font-family: 'Roboto';
}
.Homepage .info-container .left-info h2, 
.Homepage .info-container .middle-info h2, 
.Homepage .info-container .right-info h2 {
  padding: 15px 25px;
  color:white;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 150;
  background-color: #ee5253;
  margin: 30px 0;
  transition: all 0.6s;
  border-radius:10px;
}
.Homepage .info-container .left-info h2:hover, 
.Homepage .info-container .middle-info h2:hover, 
.Homepage .info-container .right-info h2:hover {
  color: #ee5253;
  background-color: #f1f2f6;
}
.Homepage .info-container .left-info p, 
.Homepage .info-container .middle-info p, 
.Homepage .info-container .right-info p {
  max-width: 80%;
  line-height: 24px;
  font-size: 1.1rem;
  font-weight: 200;
  letter-spacing: 1.3px;
  text-align: center;
}

/* MEET THE TEAM STYLING */
.Homepage .team-container {
  display:flex;
  font-family: 'Roboto';
}
.Homepage .team-container .team-img, 
.Homepage .team-container .team-intro {
  flex:1;
  flex-direction: column;
}
.Homepage .team-container .team-img {
  background: url('../GoodSIde/GoodSideImg/team.jpg') no-repeat center center/cover;
}
.Homepage .team-container .team-intro {
  background-color:#ee5253;
  color:white;
  padding: 4.5% 0;  
}
.Homepage .team-container .team-intro h1 {
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 2%;
  color: #f9ca24;
}
.Homepage .team-container .team-intro .name, 
.Homepage .team-container .team-intro .name-text {
  max-width:50%;
  margin:auto;
}
.Homepage .team-container .team-intro .name {
  padding: 15px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.Homepage .team-container .team-intro .name-text {
  line-height: 24px;
  font-size: 1rem;
  letter-spacing: 1.2px;
}


/* CONTACT FORM STYLING */
.Homepage .contact-container {
  color:white;
  display:flex;
  font-family: 'Roboto';
}
.Homepage .contact-container .contact-form-primary {
  background-color: #ee5253;
  text-align: center;
  padding: 50px 0;
}
.Homepage .contact-container .contact-form-primary h1 {
  font-size:2rem;
  text-transform: uppercase;
  padding-top: 2%;
  padding-left: 2%;
  letter-spacing: 1.5px;
  color: #f9ca24;
}
.Homepage .contact-container .contact-form-primary p {
  font-size:1.3rem;
  padding-top: 1%;
  padding-left: 2%;
  font-weight:100;
}
.Homepage .contact-container .map, .contact-container .contact-form-primary {
  flex:1;
}
.Homepage .contact-container .contact-form-primary .form-group {
  margin: 1rem;
  padding: .5rem;
}
.Homepage .contact-container .contact-form-primary label {
  display:block;
}
.Homepage .contact-container .contact-form-primary input, 
.Homepage .contact-container .contact-form-primary textarea {
  width: 80%;
  padding: 0.5rem;
  font-family: 'Roboto';
  text-transform: uppercase;
  font-size:.9rem;
}
.Homepage .contact-container .contact-form-primary .btn {
  width: 20%;
  margin: 15px 25px;
  cursor: pointer;
}
.contact-form-primary, .map {
  flex: 1;
}
.Homepage .contact-container .map {
  overflow:hidden;
  position:relative;
}
input:focus {
  box-shadow: none;
  outline:none;
  transition: .5s all ease;
  border-color: #0abde3;
}
iframe{
  left:0;
  top:0;
  width:100%;
  height:100%;
  position:absolute;
}

/* FOOTER STYLING */
.Homepage .footer {
  height: 6vh;
  background-color: #f1f2f6;
  color: black;
  font-family: 'Roboto';
  text-align: center;
  padding:1%;
  font-size: 1.3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}


/* TEXT STYLING */
.Homepage .container .left-container h1, 
.Homepage .container .right-container h1 {
  font-family: 'Bebas Neue';
  font-size: 7.6rem;
  text-transform: uppercase;
  color:white;
  font-weight:1000;
  padding-bottom:5%;
  line-height:88%;
  letter-spacing: 3.5px;
}
span {
  font-weight: 200;
}
.Homepage .container .left-container span, 
.Homepage .container .right-container span {
  color: #f9ca24;
  font-family: 'Bebas Neue';
  letter-spacing: 1.4px;
  opacity: 0.75;
}
/* BUTTON STYLING */
.btn {
  color:white;
  background-color:#ff9f43;
  padding:1.3%;
  margin: 0 3%;
  text-align:center;
  font-size: 1.3rem;
  width:150px;
  display:inline-block;
  text-transform: uppercase;
  font-family: 'Open Sans';
  border:none;
}
.btn:hover {
  transition: 0.6s;
  background-color: #f9ca24;
  color: #111;
}
.Homepage .container .left-container .btn, 
.Homepage .container .right-container .btn {
  background-color: #ee5253;
}
.Homepage .container .left-container .btn:hover, 
.Homepage .container .right-container .btn:hover {
  background-color: #f9ca24;
}
/* FOOTER STYLING */
a {
  text-decoration: none;
  color: inherit;
}
.footer-container {
  display:flex;
  background-color:#f1f2f6;
  padding:28px;
  justify-content: space-evenly;
  color:black;
}
.footer-container .footer-info-left {
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.footer-container .footer-info-left a {
  color:#ee5253;
  transition: 0.4s all ease;
}
.footer-container .footer-info-left a {
  padding: 5px 0;
}
.footer-container .footer-info-left a:hover {
  color:black;
}
.footer-container .footer-info-right {
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.footer-container .footer-info-right a {
  color:#ee5253;
  transition: 0.4s all ease;
}
.footer-container .footer-info-right a, .footer-container .footer-info-right p {
  padding: 5px 0;
}
.footer-container .footer-info-right a:hover {
  color:black;
}
/* MEDIA QUERIES */
@media (max-width: 1300px) {
  .Homepage .header .links {
    font-size: .8rem;
  }
  .Homepage .info-container {
    flex-direction: column;
  }
  .Homepage .info-container p {
    font-size: 1rem;
    max-width:95%;
  }
  .Homepage .info-container .left-info, 
  .Homepage .info-container .middle-info, 
  .Homepage .info-container .right-info {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 50px 10px 50px;
    font-family: 'Roboto';
    border: none;
  }
  .Homepage .info-container .left-info h2, 
  .Homepage .info-container .middle-info h2, 
  .Homepage .info-container .right-info h2 {
    padding:12px;
    margin-top: 0;
    font-size:1.2rem;
  }
  .Homepage .footer {
    font-size: .8rem;
  }
}
/* Below media query is to align team/contact into column/edit padding & sizing */
@media (max-width: 1100px) {
  .Homepage .team-container, 
  .Homepage .contact-container {
    flex-direction: column;
  }
  .Homepage .team-container .team-intro .name, 
  .Homepage .team-container .team-intro .name-text {
    max-width:80%;
  }
  .Homepage .team-container h1 {
    padding-top: 3%;
  }
  .Homepage .team-container .team-intro p {
    padding-bottom: 3%;
  }
  .Homepage .team-container .team-intro .name-text {
    font-size: .85rem;
  }
  .Homepage .info-container .left-info p, 
  .Homepage .info-container .middle-info p, 
  .Homepage .info-container .right-info p {
    font-size: .85rem;
  }
  .Homepage .contact-container .contact-form-primary {
    background-color: #f1f2f6;
    color: #111;
    text-align: center;
  }
  .Homepage .contact-container .contact-form-primary h1 {
    font-size:1.5rem;
    padding-top: 3.2%;
    color: #111;
  }
  .Homepage .contact-container .contact-form-primary p {
    font-size:1rem;
    text-transform: uppercase;
  }
  .footer-container {
    background-color: #ee5253;
  }
  .footer-container .footer-info-left a, .footer-container .footer-info-right a {
    color:#f9ca24;
  }
}
@media (max-width: 800px) {
  .Homepage .container {
    flex-direction: column;
  }
  .Homepage .info-container p {
    font-size: .85rem;
  }
  .Homepage .container .left-container h1, 
  .Homepage .container .right-container h1 {
    font-size: 3.7rem;
  }
  .Homepage .contact-container .contact-form-primary .heading {
    text-align: center;
  }
  .Homepage .info-container .left-info h2, 
  .Homepage .info-container .middle-info h2, 
  .Homepage .info-container .right-info h2 {
    font-size:1rem;
  }
  .Homepage .info-container .left-info h2, 
  .Homepage .info-container .middle-info h2, 
  .Homepage .info-container .right-info h2 {
    font-size:1rem;
  }
}
@media (max-width: 475px) {
  .Homepage .team-container .team-intro h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 400px) {
  .btn {
    font-size:1rem;
  }
  .Homepage .header h2 {
    font-size:1rem;
  }
  .Homepage .header .links {
    font-size: .6rem;
  }
  .Homepage .container .left-container h1, 
  .Homepage .container .right-container h1 {
    font-size: 3.5rem;
  }
  .Homepage .team-container .team-intro .name-text {
    font-size: .75rem;
  }
  .Homepage .info-container .left-info p, 
  .Homepage .info-container .middle-info p, 
  .Homepage .info-container .right-info p {
    max-width: 100%;
  }
  .Homepage .contact-container .contact-form-primary p {
    font-size:1rem;
    padding-top:10px;
  }
  .Homepage .footer {
    font-size: .6rem;
  }
  .Homepage .info-container .left-info p, 
  .Homepage .info-container .middle-info p, 
  .Homepage .info-container .right-info p {
    font-size:.65rem;
  }
}